<div class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-row">
                <div class="phone">+84911980891</div>
                <div class="social">
                    <ul class="social_list">
                        <li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <!--<li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>-->
                        <!--<li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
                    </ul>
                </div>
                <div class="user_box ml-auto">
                    <div class="user_box_login user_box_link"><a href="#">login</a></div>
                    <div class="user_box_login user_box_link"><a href="#">register</a></div>

                    <div uib-dropdown class="dropdown pointer user_box_link" ng-controller="JhiLanguageController as languageVm">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                            <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                                <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>